.header {
  display: flex;
  color: purple;
}

.box {
  width: 30px;
  height: 30px;
  background-image: url('../../build/sprite/sprite.png');
  background-position: 0px 0px;
  background-size: cover;
}