.contactus {
  padding-top: rem(55px);
  padding-bottom: rem(50px);

  &__title {
    align-self: center;
    margin-bottom: rem(30px);
  }

  &__form-warp {
    display: flex;
    flex-direction: row;
    min-height: rem(500px);
    background-color: $lightyellow;
    text-transform: uppercase;

    @include phones {
      flex-direction: column;
    }
  }

  &__form, 
  &__map {
    width: 50%;
    display: flex;
    align-items: center;

    @include phones {
      width: 100%;
    }
  }

  &__form {
    @include phones {
      margin: rem(30px) 0;
    }
  }

  label, input, button {
    min-width: rem(450px);

    @include tablets {
      min-width: rem(300px);
    }

    @include phones {
      min-width: rem(280px);
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title,
    &__input,
    &__btn,
    textarea {
      font-size: rem(25px);
      cursor: pointer;
    }

    label input {
      border: rem(1px) solid $darkblue;
      background-color: $transp;
    }

    label textarea {
      background-color: $transp;
      width: 100%;
      margin-bottom: rem(20px);
      border: rem(1px) solid $darkblue;
      resize: none;
      outline: none;
    }
  
    &__btn {
      padding: rem(20px);
      border: rem(1px) solid $darkblue;

      &:hover {
        background-color: $darkblue;
        color: $white;
        transition: 0.6s ease;
      }
    }
  }
}






