.events {
  display: flex;
  padding-top: rem(50px);
  margin: 0 auto rem(140px);
  position: relative;

  &__pic-wrap {
    position: absolute;
    top: rem(-35px);
    left: rem(20px);
    width: rem(270px);
    height: rem(380px);
    overflow: hidden;
  }

  &__pic {
    background-image: url("../../build/sprite/sprite-img.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 0 rem(-1095px);
  }

  &__info {
    background-color: $lightyellow;
    padding: rem(30px);
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @include phones {
      padding-top: rem(296px);
    }
  }

  &__info-text {
    font-family: 'El Messiri', sans-serif;
    color: $darkblue;
    width: 70%;

    @include tablets {
      width: 60%;
    }

    @include phones {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: rem(25px);
  }

  &__text {
    margin-bottom: rem(20px);
  }

  &__link {
    color: $darkblue;
    font-style: italic;
    cursor: pointer;
    text-decoration: underline;
  }
}