.history {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto rem(100px);
  max-width: rem(1100px);

  @include tablets{
    margin: 0 auto rem(50px);
  }

  &__info {
    width: 100%;
    padding: rem(50px);
    background-color: $lightyellow;
    margin-bottom: rem(50px);

    @include phones {
      margin-top: rem(0px);
    }
  }

  &__info-text {
    width: 40%;
    font-family: 'El Messiri', sans-serif;
    color: $darkblue;

    @include tablets {
      width: 40%;
    }

    @include phones {
      width: 100%;
      margin-top: 350px;
      padding-top: 65px;
    }
  }

  &__small-title {
    text-transform: uppercase;
  }

  &__title {
    font-size: rem(35px);
    text-transform: uppercase;
    margin-bottom: rem(30px);
  }

  &__pic-wrap {
    display: flex;
    width: 400px;
    height: 440px;
    max-width: 52%;
    overflow: hidden;
    position: absolute;
    top: rem(-20px);
    right: rem(22px);

    @include phones {
      max-width: 97%;
    }
  }

  &__pic {
    background-image: url("../../build/sprite/sprite-img.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  &__lobby {
    background-position: 0 -600px;

    @include tablets {
      background-position: 0 -578px;
    }

    @include phones {
      background-position: 0 -489px;
    }
  }

  &__bedroom {
    background-position: 0 455px;
  }

  &__restaurant {
    background-position: 0 5240px;

    @include tablets {
      background-position: 0 4996px;
    }

    @include phones {
      background-position: 0 4595px;
    }
  }

  &__ceremony {
    background-position: 0 -305px;

    @include tablets {
      background-position: 0 -235px;
    }
  }

  &__event {
    background-position: 0% -30%;
  }

  &__party {
    background-position: 0% -66%;
  }

  &__celebrity, &__activity, &__occasion {
    background-color: $lightyellow;
    padding: rem(60px);
    position: relative;
    margin: rem(50px) 0;

    @include phones {
      margin-bottom: 0;
    }

    .history__info-text {
      margin: 0 0 0 auto;

      @include phones {
        padding-top: 230px;
      }
    }

    .history__photo-wrap {
      @include phones {
        top: rem(35px);
      }
    }
  }

  &__activity {
    margin-bottom: 0;

    @include tablets {
      padding-bottom: rem(20px);
    }
  }

  &__photo-wrap {
    position: absolute;
    top: rem(36px);
    left: rem(20px);
    display: flex;
    width: 400px;
    height: 265px;
    overflow: hidden;
    max-width: 45%;
    max-height: 195px;

    @include tablets {
      top: rem(110px);
    }

    @include phones {
      max-width: 95%;
    }
  }

  &__photo {
    background-image: url('../../build/sprite/sprite-img.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  &__guest {
    background-position: rem(0px) rem(0px);
  }
}