.history {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto rem(100px);
  max-width: rem(1100px);

  &__info {
    width: 100%;
    padding: rem(50px);
    background-color: $lightyellow;
    margin-bottom: rem(150px);
  }

  &__info-text {
    width: 50%;
    font-family: 'El Messiri', sans-serif;
    color: $darkblue;
  }

  &__small-title {
    text-transform: uppercase;
  }

  &__title {
    font-size: rem(35px);
    text-transform: uppercase;
    margin-bottom: rem(30px);
  }

  &__pic-wrap {
    display: flex;
    width: rem(400px);
    height: rem(400px);
    overflow: hidden;
    position: absolute;
    top: rem(20px);
    right: rem(22px);
  }

  &__pic {
    background-image: url(/build/sprite/sprite-img.jpg);
    background-size: cover;
    width: 300%;
    height: 300%;
    background-position: rem(0px) rem(0px);
  }

  &__pagination {
    border-bottom: 1px solid $gray;
    padding-bottom: rem(20px);
    margin-bottom: rem(40px);
    cursor: pointer;
  }

  &__celebrity {
    background-color: $lightyellow;
    padding: rem(60px);
    position: relative;
    margin-bottom: rem(50px);

    .history__info-text {
      margin: 0 0 0 auto;
    }
  }

  &__photo-wrap {
    position: absolute;
    top: rem(20px);
    left: rem(20px);
    display: flex;
    width: rem(400px);
    height: rem(400px);
    overflow: hidden;
  }

  &__photo {
    background-image: url(/build/sprite/sprite-img.jpg);
    background-size: cover;
    width: 300%;
    height: 300%;
    background-position: rem(0px) rem(0px);
  }
}