.overview {

  &__navigation {
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid $gray;
    padding-bottom: rem(30px);
    margin-bottom: rem(30px);
  }

  &__rooms {
    background-color: $lightyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(30px);
    margin-bottom: rem(20px);
  }

  &__filter-title {
    margin-bottom: rem(20px);
  }

  &__filter {
    display: flex;
    flex-direction: column;
    font-size: rem(25px);
    color: $darkblue;
    text-transform: capitalize;
    margin-bottom: rem(30px);

    select {
      padding: rem(10px);
      font-size: rem(20px);
      color: $darkblue;
      text-transform: capitalize;
      border: 1px solid $darkblue;
    }
  }

  &__variants {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: rem(20px);
    align-items: center;
  }

  &__variants-title {
    text-transform: capitalize;
    margin-bottom: rem(25px);
  }

  &__examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__example {
    width: 45%;
    display: flex;
    justify-content: center;
  }
}

.example {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(40px);

  &__pic-wrap {
    width: rem(400px);
    height: rem(300px);
    min-width: 100%;
    margin-bottom: rem(20px);
  }

  &__pic {
    background-image: url('../../../build/sprite/sprite-img.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  &__title {
    color: $darkblue;
    font-size: rem(20px);
    margin-bottom: rem(20px);
    text-transform: capitalize;
    font-family: 'El Messiri',sans-serif;
  }

  &__features {
    margin-bottom: rem(20px);
    display: flex;
    justify-content: center;
  }

  &__link {
    color: $darkblue;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
    font-size: rem(14px);
    letter-spacing: rem(1.5px);
  }
}

.features {
  display: flex;
  align-items: center;

  &__item {
    border-right: 1px solid $gray;
    display: flex;
    flex-direction: column;
    color: $gray;
    padding: rem(10px);

    &:last-child {
      border-right: none;
    }
  }

  &__number {
    font-size: rem(25px);
    margin-bottom: rem(10px);
  }

  &__text {
    font-size: rem(20px);
  }
}

.pagination {
  display: flex;
  padding: 0;

  li {
    margin-right: rem(5px);
    padding: rem(10px);
    border: 1px solid $gray;
  }

  li:hover, li.active {
    cursor: pointer;
    color: $darkblue;
    border: 1px solid $darkblue;
  }
}
