.welcome {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  &__video {
    margin: 0;
    position: absolute;
    bottom: 0;
    z-index: 1;
    min-height: min-content;
    overflow: hidden;

    @include phones {
      display: none;
    }
  }

  &__mb {
    display: none;
    position: absolute; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.7);

    @include phones {
      display: flex;
    }
  }

  &__mb-hotel {
    // background-image: url("../../../src/images/mb-bg/hotel-mb.jpg");
    background-image: url("../../src/images/mb-bg/hotel-mb.jpg");
  }

  &__mb-room{
    background-image: url("../../src/images/mb-bg/room-mb.jpg");
  }

  &__mb-restaurant {
    background-image: url("../../src/images/mb-bg/restaurant-mb.jpg");
  }

  &__mb-celebrate {
    background-image: url("../../src/images/mb-bg/celebrate-mb.jpg");
  }

  &__mb-contact {
    background-image: url("../../src/images/mb-bg/contact-mb.jpg");
  }

  &__content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'El Messiri', sans-serif;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  &__logo {
    margin-bottom: rem(5px);
    opacity: 0;
    transition: 0.5s ease;
  }

  &__logo-icon {
    background-image: url("../../build/sprite/sprite-icon.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 0px -570px;
    display: flex;
  }

  &__title {
    margin-bottom: rem(5px);
    opacity: 0;
    transition: 0.5s ease;
  }

  &__small-title {
    margin-bottom: rem(110px);
    opacity: 0;
    transition: 0.5s ease;
  }

  &__small-text {
    font-size: rem(20px);
    opacity: 0;
    transition: 0.5s ease;
  }
  
  &__text {
    text-transform: uppercase;
    font-size: rem(37px);
    white-space: nowrap;
    opacity: 0;
    transition: 0.5s ease;

    @include phones {
      font-size: rem(25px);
    }
  }

  &__btn {
    position: absolute;
    bottom: rem(20px);
    width: rem(30px);
    height: rem(30px);
    margin: rem(20px);
    overflow: hidden;
    align-self: center;
    display: flex;
    z-index: 2;
    cursor: pointer;
    animation: 2s ease-in-out infinite pulse;
  }

  &__btn-arrow {
    background-image: url("../../build/sprite/sprite-icon.png");
    background-size: cover;
    width: 300%;
    height: 300%;
    background-position: rem(0px) rem(-32px);
  }
}

@keyframes pulse {
  0% {
    transform: translateY(rem(0px));
  }
  
  25% {
    transform: translateY(rem(10px));
  }
  
  50% {
    transform: translateY(rem(0px));
  }
}

.logo {
  width: 50px;
  height: 50px;
  overflow: hidden;
  align-self: center;
  cursor: pointer;
}