.welcome {
  display: flex;
  justify-content: center;
  position: relative;

  &__video {
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'El Messiri', sans-serif;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  &__logo {
    width: rem(50px);
    height: rem(50px);
    overflow: hidden;
    align-self: center;
    cursor: pointer;
  }

  &__logo-icon {
    background-image: url(/build/sprite/sprite-icon.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: rem(0px) rem(-570px);
    display: flex;
  }

  &__title {
    font-size: rem(30px);
  }

  &__small-title {
    margin-bottom: rem(110px);
  }

  &__small-text {
    font-size: rem(20px);
  }
  
  &__text {
    text-transform: uppercase;
    font-size: rem(37px);
    white-space: nowrap;
  }

  &__btn {
    position: absolute;
    bottom: rem(20px);
    width: rem(30px);
    height: rem(30px);
    overflow: hidden;
    align-self: center;
    display: flex;
    z-index: 2;
    cursor: pointer;
    animation: 2s ease-in-out infinite pulse;
  }

  &__btn-arrow {
    background-image: url(/build/sprite/sprite-icon.png);
    background-size: cover;
    width: 300%;
    height: 300%;
    background-position: rem(0px) rem(-32px);
  }
}

@keyframes pulse {
  0% {
    transform: translateY(rem(0px));
  }
  
  25% {
    transform: translateY(rem(10px));
  }
  
  50% {
    transform: translateY(rem(0px));
  }
}

.welcome_rooms {
  height: 100%;
  width: 100%;
  background-image: url('../../../build/sprite/sprite-img.jpg');
  background-size: cover;
  background-position: 100px 100px;
  position: absolute;
  top: 0;
  display: flex;
}