.welcome {
  display: flex;
  justify-content: center;
  position: relative;

  &__video {
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    text-align: center;
    color: white;
    margin-top: rem(100px);
    font-family: 'El Messiri', sans-serif;
  }

  &__logo {
    width: rem(50px);
    height: rem(50px);
    overflow: hidden;
    align-self: center;
    cursor: pointer;
  }

  &__logo-icon {
    background-image: url(/build/sprite/sprite-icon.png);
    background-size: cover;
    width: 300%;
    height: 300%;
    background-position: rem(0px) rem(-100px);
  }

  &__title {
    font-size: rem(30px);
  }

  &__small-title {
    margin-bottom: rem(120px);
  }

  &__small-text {
    font-size: rem(20px);
  }
  
  &__text {
    text-transform: uppercase;
    font-size: rem(40px);
  }

  &__btn {
    position: absolute;
    bottom: rem(10px);
    width: rem(30px);
    height: rem(30px);
    overflow: hidden;
    align-self: center;
    display: flex;
    z-index: 2;
    cursor: pointer;
    animation: 2s ease-in-out infinite pulse;
  }

  &__btn-arrow {
    background-image: url(/build/sprite/sprite-icon.png);
    background-size: cover;
    width: 300%;
    height: 300%;
    background-position: rem(-30px) rem(0px);
  }
}

@keyframes pulse {
  0% {
    transform: translateY(rem(0px));
  }
  
  25% {
    transform: translateY(rem(10px));
  }
  
  50% {
    transform: translateY(rem(0px));
  }
}