.search {
  display: flex;
  align-items: center;
  position: relative;

  &__inpt {
    background-color: $transp;
    color: $darkblue;
    padding: rem(2px);
    font-size: rem(14px);
    margin-right: rem(5px);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: rem(17px);
    letter-spacing: rem(1.5px);
  }

  button {
    background-color: $transp;
    border: none;
  }

  &__cancel {
    margin-right: rem(5px);
    font-size: rem(16px);
    position: absolute;
    top: 2%;
    left: 90%;
  }

  &__cancel:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.5) rotate(180deg);
  }
}